

<mat-toolbar color="primary">
  <span fxHide.xs class="emptySpace"></span>
  <span class="logo"></span>
  <span fxHide.xs class="Home" (click)="navigateToHome()">Home</span>
  <span fxHide.xs class="About" (click)="navigateToAbout()">About</span>
  <span fxHide.xs class="Leadership" (click) = "navigateToLeadership()">Leadership</span>
  <span fxHide.xs class="Events" (click)="navigateToEvents()">Events</span>
  <span fxHide.xs class="Membership" (click)="navigateToMembership()">Membership</span>
  <span fxHide.xs class="Privacy" (click)="navigateToPrivacy()">Privacy</span>
  <span fxHide.xs class="Youth" (click)="navigateToYouth()">Youth</span>
  <span class ="Search">
    <mat-icon aria-hidden="false ">search</mat-icon>
  </span>
</mat-toolbar>
