<div class="header1">LEADERSHIP</div>
<hr class="headerLine">
<br><br>
<div class="header2">Branch Officers</div>
<br>
<div class="content">
  President: Betty Sawyer
</div>
<div class="content">
  1st Vice President: Willa Kemp
</div>

<div class="content">
  Secretary: Maxine Nicholas
</div>

<div class="content">
  Treasurer: Dr. Freddie Cooper
</div>
<br>
<br>

<div class="header2">Executive Committee</div>
<br>
<div class="content">
  Dr. Crawford
</div>
<div class="content">
  Rev. Charles Wright
</div>

<div class="content">
  Gerod Sawyer
</div>

<div class="content">
  E. Fern Heath(Historian)
</div>

