@charset "utf-8";

/* CSS Document */

 

h1{
color: #002F6C;
font: Helvetica bold;
/*          make a bottom border for the titles of each page not sure if css or html*/
border-bottom: medium, #F3BA16;
           
}

 

h2{

              color: #000000;

              font: Garamond;

}

 

h3{

              color: #000000;

              font: Helvetica bold;

}

 

body{

              color: #000000;

              font: Helvetica;

}

 

.list{
              color: #000000;
              font: Helvetica;
}

 

.button1{
background-color: #90A2BF;
font: Helvetica;
color: #000000;
}

 

#letter{
	      postition: absolute;
left: 3.0in;
top: .3in;
width: 8in;
height: 3.25in;
              border: 2px solid black;
padding: 15px;
background: #EDF8FD

                          

}