<div class="header1">EVENTS</div>
<hr class="headerLine">
<br>
<br>
<div fxLayout="row" fxLayoutGap="15px">
  <mat-card fxFlex="33" class="example-card">
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Event Info
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex="33" class="example-card">
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Event Info
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex="33" class="example-card">
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Event Info
      </p>
    </mat-card-content>
  </mat-card>
</div>
<br><br>

<div fxLayout="row" fxLayoutGap="15px">
  <mat-card fxFlex="33" class="example-card">
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Event Info
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex="33" class="example-card">
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Event Info
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex="33" class="example-card">
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Event Info
      </p>
    </mat-card-content>
  </mat-card>
</div>

<br><br><br>



