<div class="header1">ABOUT US</div>
<hr class="headerLine">
<br><br>
<div class="header2">Our Mission</div>
<br>
<div class="content">
  The mission of the National Association for the Advancement of Colored People is to ensure the political, educational,
  social, and economic equality of rights of all persons and to eliminate racial hatred and racial discrimination.
</div>
<br><br>
<div class="header2">Our Vision</div>
<br>
<div class="content">
  The vision of the National Association for the Advancement of Colored People is to ensure a society in which all
  individuals have equal rights and there is no racial hatred or racial discrimination.
</div>
